services:
  nginx:
    image: nginx:1.27-alpine
    container_name: opentranscribe-nginx
    restart: always
    depends_on:
      frontend:
        condition: service_started
      backend:
        condition: service_started
      flower:
        condition: service_started
      minio:
        condition: service_started
    env_file:
      - .env
    command: >
      /bin/sh -c "envsubst '$$NGINX_SERVER_NAME'
      < /etc/nginx/templates/site.conf.template
      > /etc/nginx/conf.d/site.conf && nginx -g 'daemon off;'"
    ports:
      - 80:80
      - 443:443
    volumes:
      - ${NGINX_CERT_FILE:-./nginx/ssl/site.crt}:/etc/nginx/certs/site.crt:ro
      - ${NGINX_CERT_KEY:-./nginx/ssl/site.key}:/etc/nginx/certs/site.key:ro
      - ./nginx/site.conf.template:/etc/nginx/templates/site.conf.template:ro
    networks:
      - default

networks:
  default:
    name: ${COMPOSE_PROJECT_NAME:-opentranscribe}_default

